SectorCostFields(
	baseline : {
		SectorID(column: 0,	row: 0): CostField(
			field: (
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 0
				1, 1, 1, 1, 1, 1, 1, 255, 255, 255, // row 1
				1, 1, 1, 1, 1, 1, 1, 255, 255, 255, // row 2
				1, 1, 1, 255, 1, 1, 1, 255, 255, 255, // row 3
				1, 1, 1, 255, 255, 1, 1, 1, 255, 255, // row 4
				1, 1, 1, 255, 255, 1, 1, 1, 1, 255, // row 5
				1, 1, 1, 1, 1, 1, 1, 1, 1, 255, // row 6
				1, 1, 1, 1, 1, 1, 1, 1, 1, 255, // row 7
				1, 1, 1, 1, 1, 1, 1, 1, 1, 255, // row 8
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1  // row 9
			)
		),
		SectorID(column: 1,	row: 0): CostField(
			field: (
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 0
				1, 1, 1, 1, 1, 1, 1, 1, 255, 255, // row 1
				1, 1, 1, 1, 1, 1, 1, 1, 255, 255, // row 2
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 3
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 4
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 5
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 6
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 7
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 8
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1  // row 9
			)
		),
		SectorID(column: 2,	row: 0): CostField(
			field: (
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 0
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 1
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 2
				1, 1, 1, 1, 1, 1, 255, 1, 1, 1, // row 3
				1, 1, 1, 1, 1, 1, 255, 255, 255, 255, // row 4
				1, 1, 1, 1, 1, 1, 255, 255, 255, 255, // row 5
				1, 1, 1, 1, 1, 1, 255, 255, 1, 1, // row 6
				1, 1, 1, 1, 1, 1, 255, 255, 255, 1, // row 7
				1, 1, 1, 1, 1, 1, 255, 255, 255, 255, // row 8
				1, 1, 1, 1, 1, 1, 255, 255, 255, 255  // row 9
			)
		),
		SectorID(column: 0,	row: 1): CostField(
			field: (
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 0
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 1
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 2
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 3
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 4
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 5
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 6
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 7
				1, 1, 1, 1, 1, 255, 1, 1, 1, 1, // row 8
				1, 1, 1, 1, 1, 255, 1, 1, 1, 1  // row 9
			)
		),
		SectorID(column: 1,	row: 1): CostField(
			field: (
				1, 1, 1, 1, 1, 255, 1, 1, 1, 1, // row 0
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 1
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 2
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 3
				1, 1, 255, 255, 255, 1, 1, 1, 1, 1, // row 4
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 5
				1, 1, 1, 1, 1, 1, 1, 1, 255, 1, // row 6
				1, 1, 1, 1, 1, 1, 1, 255, 255, 255, // row 7
				1, 1, 1, 1, 1, 1, 1, 1, 255, 1, // row 8
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1  // row 9
			)
		),
		SectorID(column: 2,	row: 1): CostField(
			field: (
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 0
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 1
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 2
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 3
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 4
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 5
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 6
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 7
				255, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 8
				255, 255, 1, 1, 1, 1, 1, 1, 1, 1  // row 9
			)
		),
		SectorID(column: 0,	row: 2): CostField(
			field: (
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 0
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 1
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 2
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 3
				255, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 4
				255, 255, 1, 1, 1, 1, 1, 1, 1, 1, // row 5
				255, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 6
				1, 1, 1, 1, 1, 1, 1, 1, 255, 1, // row 7
				1, 1, 1, 1, 1, 1, 1, 255, 255, 1, // row 8
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1  // row 9
			)
		),
		SectorID(column: 1,	row: 2): CostField(
			field: (
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 0
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 1
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 2
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 3
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 4
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 5
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 6
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 7
				255, 255, 255, 1, 1, 1, 1, 1, 1, 1, // row 8
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1  // row 9
			)
		),
		SectorID(column: 2,	row: 2): CostField(
			field: (
				255, 255, 1, 1, 1, 1, 1, 1, 1, 1, // row 0
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 1
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 2
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 3
				1, 255, 255, 255, 1, 1, 1, 1, 1, 1, // row 4
				1, 255, 255, 255, 1, 1, 1, 1, 1, 1, // row 5
				1, 255, 255, 255, 1, 1, 1, 1, 1, 1, // row 6
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 7
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1, // row 8
				1, 1, 1, 1, 1, 1, 1, 1, 1, 1  // row 9
			)
		)
	}
)
