SectorCostFields(
	baseline : {
		SectorID((0, 0)): CostField(
			(	// row 0..9
				(1, 1, 1, 1, 1, 1, 255, 255, 255, 255), // column 0
				(1, 1, 1, 1, 1, 1, 1, 255, 255, 255), // column 1
				(1, 1, 1, 1, 1, 1, 1, 255, 255, 255), // column 2
				(1, 1, 1, 255, 1, 1, 1, 255, 255, 255), // column 3
				(1, 1, 1, 255, 255, 1, 1, 1, 255, 255), // column 4
				(1, 1, 1, 255, 255, 1, 1, 1, 1, 255), // column 5
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 255), // column 6
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 255), // column 7
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 8
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1)  // column 9
			)
		),
		SectorID((1, 0)): CostField(
			(	// row 0..9
				(1, 1, 1, 1, 1, 1, 1, 1, 255, 255), // column 0
				(1, 1, 1, 1, 1, 1, 1, 1, 255, 255), // column 1
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 2
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 3
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 4
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 5
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 6
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 7
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 8
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1)  // column 9
			)
		),
		SectorID((2, 0)): CostField(
			(	// row 0..9
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 0
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 1
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 2
				(1, 1, 1, 1, 1, 1, 255, 1, 1, 1), // column 3
				(1, 1, 1, 1, 1, 1, 255, 255, 255, 255), // column 4
				(1, 1, 1, 1, 1, 1, 255, 255, 255, 255), // column 5
				(1, 1, 1, 1, 1, 1, 255, 255, 1, 1), // column 6
				(1, 1, 1, 1, 1, 1, 255, 255, 255, 1), // column 7
				(1, 1, 1, 1, 1, 1, 255, 255, 255, 255), // column 8
				(1, 1, 1, 1, 1, 1, 255, 255, 255, 255)  // column 9
			)
		),
		SectorID((0, 1)): CostField(
			(	// row 0..9
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 0
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 1
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 2
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 3
				(1, 1, 1, 1, 255, 1, 1, 1, 1, 1), // column 4
				(1, 1, 1, 1, 1, 255, 1, 1, 1, 1), // column 5
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 6
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 7
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 8
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1)  // column 9
			)
		),
		SectorID((1, 1)): CostField(
			(	// row 0..9
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 0
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 1
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 2
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 3
				(1, 1, 255, 255, 255, 1, 1, 1, 1, 1), // column 4
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 5
				(1, 1, 1, 1, 1, 1, 1, 1, 255, 1), // column 6
				(1, 1, 1, 1, 1, 1, 1, 255, 255, 255), // column 7
				(1, 1, 1, 1, 1, 1, 1, 1, 255, 1), // column 8
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1)  // column 9
			)
		),
		SectorID((2, 1)): CostField(
			(	// row 0..9
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 0
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 1
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 2
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 3
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 4
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 5
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 6
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 7
				(255, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 8
				(255, 255, 1, 1, 1, 1, 1, 1, 1, 1)  // column 9
			)
		),
		SectorID((0, 2)): CostField(
			(	// row 0..9
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 0
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 1
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 2
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 3
				(255, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 4
				(255, 255, 1, 1, 1, 1, 1, 1, 1, 1), // column 5
				(255, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 6
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 255), // column 7
				(1, 1, 1, 1, 1, 1, 1, 1, 255, 255), // column 8
				(1, 1, 1, 1, 1, 1, 1, 255, 255, 255)  // column 9
			)
		),
		SectorID((1, 2)): CostField(
			(	// row 0..9
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 0
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 1
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 2
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 3
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 4
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 5
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 6
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 7
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 8
				(255, 255, 255, 1, 1, 1, 1, 1, 1, 1)  // column 9
			)
		),
		SectorID((2, 2)): CostField(
			(	// row 0..9
				(255, 255, 1, 1, 1, 1, 1, 1, 1, 1), // column 0
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 1
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 2
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 3
				(1, 255, 255, 255, 1, 1, 1, 1, 1, 1), // column 4
				(1, 255, 255, 255, 1, 1, 1, 1, 1, 1), // column 5
				(1, 255, 255, 255, 1, 1, 1, 1, 1, 1), // column 6
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 7
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1), // column 8
				(1, 1, 1, 1, 1, 1, 1, 1, 1, 1)  // column 9
			)
		)
	}
)