name: Bench

on:
  push:
    branches: [ none ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    
env:
  CARGO_TERM_COLOR: always
    
jobs:
  bench:
    name: bench
    runs-on: ubuntu-latest
    steps:
      - name: Nix dependencies
        run: sudo apt-get update; sudo apt-get -y install libasound2-dev libudev-dev lld
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - run: cargo bench -q --benches --workspace

